.session-form-container {
  background-image: image-url("nf_background.jpeg");
  width: 100%;
  background-size: cover;
  height: 800px;
  display: flex;
}

.session-form-box {
  background-color: rgba(0, 0, 0, 0.75);
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  height: 700px;
  width: 450px;
  margin-top: 50px;
  margin-left: 500px;
  margin-right: 100px;
}

.form-type {
  color: white;
  font-weight: bold;
  font-size: 30px;
  font-family: sans-serif;

  margin-right: 215px;
}

.session-input-email {
  background: gray;
  height: 50px;
  width: 300px;
  margin: 10px 10px 10px 10px;
  border: none;
  color: white;
  font-size: 15px;
  
}

.session-input-password {
  background: gray;
  height: 50px;
  width: 300px;
  margin: 10px 10px 10px 10px;
  border: none;
  color: white;
  font-size: 15px;
}

input[type="submit"].session-submit {
  height: 52px;
  width: 302px;
  background-color: red;
  font-weight: bold;
  color: white;
  padding: 5px 15px;
  font-size: 16px;
  margin: 10px 10px 10px 10px;
  border-style: none;
}